* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    width: 100vw;
}

.app {
    height: 100%;
    width: 100%;
}

.app-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-bottom: 4em;
}

/* FORMS STYLING */

.forms-container {
    grid-column: 2/3;
    margin: .5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}

.equipment-config-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: .8em;
    margin-bottom: 1em;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, .1); */
}

/* .form-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
} */

/* CONFIGURATION FORM STYLING */

.configuration-header {
    padding: 0;
    border: 0;
    margin: 0;
}

.configuration-form-container {
    margin-top: .2em;
}

.configuration-item {
    display: flex;
}

.configuration-item button {
    background-color: transparent;
    width: 50%;
    border: 1px solid #ccc;
    padding: .5em;
    margin-top: .4em;
    cursor: pointer;
    border-radius: 2px;
}

.configuration-item label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9em;
    background-color: transparent;
    width: 50%;
    border: 1px solid #ccc;
    padding: .5em;
    margin-top: .4em;
    background-color: #333;
    color: white;
    border-radius: 2px;
}

.configuration-item input {
    background-color: transparent;
    width: 50%;
    border: 1px solid #ccc;
    padding: .5em;
    margin-top: .4em;
    border-radius: 2px;
}

.configuration-item input.disabled {
    background-color: rgb(203, 203, 203);
} 

.configuration-item button.selected {
    background-color: #333;
    color: white;
}

.equipment-form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.equipment-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.equipment-item label {
    font-size: .8em;
    padding-top: .3em;
    padding-bottom: .3em;
    color: #848484ee;
}

.equipment-item select {
    font-size: .9em;
    transition: background-color .2s ease;
    border: none;
    color: #6b6b6bee;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    cursor: pointer;
    /* appearance: none; */
    padding: .3em;
}

.equipment-item p {
    padding: .2em;
}

.equipment-item input:hover, .description-item select:hover {
    background-color: #f0f0f0;
}


/* DESCRIPTION FORM STYLING */

.description-form-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: .8em;
    margin-bottom: 1em;
}

.description-form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.description-form-item label {
    font-size: .8em;
    padding-top: .3em;
    padding-bottom: .3em;
    color: #848484ee;
}

.description-form-item input {
    font-size: .9em;
    transition: background-color .2s ease;
    border: none;
    color: #6b6b6bee;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    cursor: pointer;
    /* appearance: none; */
    padding: .3em;
}

/* DOWNLOAD BUTTON STYLING */

.download-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: .2em;
    /* padding-bottom: 1em; */
}

.download {
    background-color: rgb(0, 0, 248);
    width: 100%;
    color: white;
    border: none;
    padding: 1em 2em;
    transition: background-color .2s ease;
    text-align: center;
    /* border-radius: 8px; */
}

.download:hover {
    background-color: rgb(1, 1, 219);
}

/*  DESCRIPTION STYLING FOR GRID POSITION CHECK diagram-display.jsx */

.description-display {
    /* border: 1px solid #ccc; */
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, .1); */
    /* padding: .5em; */
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.form-item input {
    /* font-size: 1em;
    transition: background-color .2s ease;
    border: none; */
}

.description-item label {
    /* border: 1px solid #ccc; */
    
}


/* SPECIFICATION STYLING FOR GRID POSITION CHECK diagram-display.jsx*/

.specification-display {
    /* border: 1px solid #ccc; */
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, .1); */
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.display-container {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 2fr;
    width: 100%;
    gap: .2em;
    padding-bottom: .2em;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: .4em;
}

.specification-label {
    width: 100%;
    font-weight: bold;
    color: #333;
    margin-right: .5em;
    background-color: #f5f5dc;
    padding: .2em;
}

.display-items {
    display: flex;
    width: 100%;
    padding: .2em;
}

.display-item {
    display: flex;
    width: 100%;
}

/* FOR PDF CONTAINER AND DIAGRAM CONTAINER CHECK INSIDE diagram-display.jsx*/